- @page_title_text = 'Log in'

.login
  %span.h3 Log in to Google account
  = form_tag sessions_path do
    .field
      = label_tag :email
      = text_field_tag :email, params[:email] || session[:user]

    .field
      = label_tag :password
      = password_field_tag :password

    .actions
      = submit_tag "Log in"
