!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    = csrf_meta_tag
    %title
      = render_page_title("#{application_title} > ").gsub(/<.*&#8250;/, "").html_safe
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    #container
      .mainpanel
        = render_flash_messages
        .header#login
          - if logged_in?
            Logged in as
            = session[:user]
            \, not you?
            = link_to 'log out', session_url(session[:session_id]), data: {method: :delete}
        .space
        #internal_container
          .albums_sidebar
            = yield :albums
          .center_pane
            .photos_sidebar
              -#= yield :photos
            .space
            .photo_view
              = yield
      .footer#footer
        KcK GooglePicasaPreview 1.0.0 &copy; 2012
